// *************************************
//
//   Header
//   -> Top bar
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// %header.header
//   %h1.header-title Title
//
// *************************************

.header
  @extend .boxSizing
  background: $c-invert
  height: $header-height
  position: relative

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Title ----- //

.header-title
  font-size: $b-fontSize-m
  font-weight: normal
  line-height: $header-height
  margin-top: 0
  padding-left: $b-whitespace - 0.2 // FIXME: Magic number!
  text-transform: uppercase
  > a
    border: 0
    color: $c-subdue
    &:hover,
    &:focus
      color: $c-base

