// *************************************
//
//   Header
//   -> Top bar
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .element[.element--modifier](.is-state)
//
// *************************************

.header
  @extend .boxSizing
  height: $header-height
  left: 0
  padding: $b-whitespace
  position: fixed
  right: 0
  top: 0
  z-index: 20

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Title ----- //

.header-title
  font-size: $b-fontSize-xl
  font-weight: normal
  margin-top: 0

