// *************************************
//
//   Sidebar
//   -> Page listing
//
// *************************************
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// %aside.sidebar
//   %a.sidebar-link{ href: '#' } Link
//
// *************************************

.sidebar
  @extend .boxSizing
  @if $sidebar-collapsible
    +transition-transform(0.3s ease-in-out)
    +transform(translateX(-100%))
  background: darken($c-background, 10%)
  bottom: 0
  left: 0
  position: fixed
  top: 0
  width: $sidebar-width
  z-index: 10

// -------------------------------------
//   States
// -------------------------------------

@if $sidebar-collapsible
  .sidebar.is-open
    +transform(translateX(0))

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Link ----- //

.sidebar-link
  border: 0
  color: $c-secondary
  display: block
  font-family: $f-header
  font-size: 80%
  padding: $b-whitespace-s $b-whitespace
  &:hover,
  &:focus
    background: darken($c-background, 20%)
    color: $c-base

// Sub

.sidebar-link--sub
  padding-left: $b-whitespace-l

// Active

.sidebar-link.is-active
  background: $c-highlight
  color: $c-invert

// ----- Navigation ----- //

// Sub

.sidebar-nav-sub
  display: none

.sidebar-nav-sub.is-active
  display: block

