// *************************************
//
//   Sidebar
//   -> Page listing
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// %aside.sidebar(open)
//
//   %a.sidebar-link
//
// *************************************

.sidebar

  @if $sidebar-collapsible
    transform: translateX(-100%)
    transition: transform 0.3s ease-in-out
  @else
    transform: translateX(-100%)
    transition: transform 0.3s ease-in-out

    +respond-to($breakpoint-s)
      transform: translateX(0)

  background: $sidebar-background
  bottom: 0
  box-sizing: border-box
  left: 0
  overflow: scroll
  position: fixed
  top: 0
  width: $sidebar-width
  z-index: 10

// -------------------------------------
//   States
// -------------------------------------

@if $sidebar-collapsible
  .sidebar.is-open
    transform: translateX(0)
@else
  .sidebar.is-open
    transform: translateX(0)

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Link ----- //

.sidebar-link
  border: 0
  color: $sidebar-link-color
  display: block
  font-family: $b-fontFamily-heading
  font-size: $sidebar-link-fontSize
  padding: $b-space-s $b-space

  &:hover,
  &:focus
    background: $sidebar-link-hover-background
    color: $sidebar-link-hover-color

// Sub

.sidebar-link--sub
  padding-left: $b-space-l

// Active

.sidebar-link.is-active
  background: $sidebar-link-active-background
  color: $sidebar-link-active-color

// ----- Navigation ----- //

// Sub

.sidebar-nav-sub
  background: $sidebar-nav-sub-background
  display: none

.sidebar-nav-sub.is-active
  display: block
