%aside.sidebar

  %header.header
    %h1.header-title= link_to data.leo.title, '/index.html'

  %nav.nav
    - get_pages().each do |page|
      = link_to page.data.title, page.path, class: (is_page_active(page.url) ? 'sidebar-link is-active' : 'sidebar-link')

